@import url('https://fonts.googleapis.com/css?family=Quicksand|Rubik');


.fontOne {
    font-family: 'Quicksand';
}

.fontTwo {
    font-family: 'Rubik';
}

.resize {
    width:1015px;
    height:400px;
    object-fit: cover;
}

.tombol1 {
    padding-top: 4%;
}

.navbar {
    margin-top: -0.9%;
    margin-bottom: -0.9%;
}

.favContainer {
    height: 400px;
}

.resize2 {
    min-width: 440px;
    max-width: 440px;
    min-height: 300px;
    max-height: 300px;
}

.button {
    background-color: #FFFFFF;
    border: solid 1px;
    color: #FC7353;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button4 {border-radius: 30px;}

.explanation {
    margin-left: 9%;
    margin-right: -9%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.buttonsub {
    padding-top:1%;
}