@import url('https://fonts.googleapis.com/css?family=Quicksand|Rubik');


.fontOne {
    font-family: 'Quicksand';
}

.fontTwo {
    font-family: 'Rubik';
}

.banner1 {
    background: url("https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat top;
    background-size: cover;
    width: 100%;
    padding-bottom: 250px;
}

.howwe {
    padding-top: 8%;
    padding-bottom: 5%;
}

.logo {
    display:block;
    margin-bottom: -10%;
}

.how {
    padding-bottom: 8%;
}

.navbar {
    margin-top: -0.9%;
    margin-bottom: -0.9%;
}

.profile {
    background:#FC7353;
    padding:50px;
    padding-left: 100px;
}

.text1 {
    color:#FFFFFF;
    padding-top: 250px;
    font-size: 150%;
    font-weight: 5;
}

.review {
    background-color: #FFFFFF;
    padding:5%;
}

.frontreview {
    font-weight: 10;
}
