@import url('https://fonts.googleapis.com/css?family=Quicksand|Rubik');


.fontOne {
    font-family: 'Quicksand';
}

.fontTwo {
    font-family: 'Rubik';
}

.banner1 {
    background: url("/img/covermcd.jpg") no-repeat top;
    background-size: cover;
    width: 100%;
    padding-bottom: 500px;
}

.navbar {
    margin-top: -0.9%;
    margin-bottom: -0.9%;
}